<ion-view >
  <ion-content class="padding" style="text-align: center">
  
    <div class="logo">
      <img src="img/Swaply_icon.svg">
      <p>
      the game changer</p>
    </div>
  
    <div class="swaply-container">
      <label class="middle">
        <button ng-click="openModal()" class="button button-outline button-stable ">Log In</button>
        </label>
        </br></br>
        <label class="middle">
        <button ng-click="openModal()" class="button button-outline button-stable ">Register</button>
      </label>
    </div>
  
  </ion-content>

</ion-view>
