<ion-view view-title="Dashboard">
  <ion-content class="padding">
    

<div class="list card">
    <div class="item">
        <h2>Bloodborne PS4</h2>
        <p>2.3km from you</p>
      </div>
          <div class="item item-image">
        <img src="img/test_cover.jpg">
    </div>
  
  <div class="item item-body">
    <!--<img class="full-image" src="../img/test_cover.jpg">-->
    <p>
      Bloodborne is an action role-playing video game directed by Hidetaka Miyazaki, developed by FromSoftware, and published by Sony Computer Entertainment.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Bids</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Bid
    </a>
  </div>

</div>

  <div class="list card">
<div class="item">
    <h2>Bloodborne PS4</h2>
    <p>2.3km from you</p>
  </div>
      <div class="item item-image">
    <img src="img/test_cover2.jpg">
  </div>
  
  <div class="item item-body">
    <!--<img class="full-image" src="../img/test_cover.jpg">-->
    <p>
      Metal Gear Solid V: The Phantom Pain is an open world action-adventure stealth 
      video game developed by Kojima Productions, directed, designed, co-produced and 
      co-written by Hideo Kojima, published by ... 
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Bids</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Bid
    </a>
  </div>

</div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
